@font-face {
    font-family: 'Rubik';
    src: local('Rubik'),
        url("fonts/Rubik/Rubik-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2';
    src: url("fonts/Exo_2/Exo2-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

body {
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.4;
    letter-spacing: 0.04em;

    color: var(--font-color);
    background-color: var(--background-color);
    font-family: 'Rubik', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: var(--link-color);
}

a:not(.image), a:not(.image):link, a:not(.image):visited {
    display: inline-block;
    border-bottom: 1px solid transparent;
    box-sizing: border-box;
}

a:not(.image):hover,
a:not(.image):active,
a:not(.image):focus {
    color: var(--link-color);
    border-bottom: 1px solid var(--link-color);
}

.big-only {
    display: none;
    visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    letter-spacing: 0.01em;
    margin-top: 1rem;
    margin-bottom: 0.5em;
    text-align: left;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

p {
    margin: .5em 0;
}

blockquote {
    margin: 0.5rem 0;
    border-left: 0.5rem solid var(--accent-alternate-color);
    padding-left: 1rem;
    font-style: italic;
    text-align: left;
}


address, i, b {
    font-style: normal;
}

strong {
    font-weight: bold;
}

small {
    font-size: .7em;
}

em {
    font-style: italic;
}

del {
    text-decoration: line-through;
}

pre, code {
    font-family: monospace;
}

hr {
    color: #AAAAAA; /* IE */
    background-color: #AAAAAA; /* Blink */
    border-color: #AAAAAA; /* Gecko */
}

li > a {
    vertical-align: top;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery figure {
    display: inline-block;
    margin: 0;
}

textarea, input[type='text'], input[type='number'], input[type='email'], input[type='tel'] {
    font-family: sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
}

.alignleft {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.alignright {
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.aligncenter {
    display: block;
    margin: 1rem auto;
}

.alignright:first-child,
.alignleft:first-child,
.aligncenter:first-child {
    margin-top: 0;
}

.alignright:last-child,
.alignleft:last-child,
.aligncenter:last-child {
    margin-bottom: 0;
}

.alignnone {
    margin: 1rem 0;
    display: block;
}
