@import url("content.css");

@viewport {
    min-width: device-width;
    zoom: 100%;
}

:root {
    --shadow: 0 0 .5rem var(--shadow-color);
    --form-padding: 0.5em;
    --form-radous: 5px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.screen-reader-text {
    display: none;
}

/* HEADER */
.skip-link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link:focus {
    left: auto;
    width: auto;
    height: auto;
    z-index: 1000;
    background-color: var(--background-color);
    color: var(--font-color);
}

@media only speech {
    .skip-link {
        display: block;
        position: static;
        left: auto;
        width: auto;
        height: auto;
        overflow: auto;
    }

    .screen-reader-text {
        display: block;
    }
}

header {
    flex-shrink: 0;
}

.wp-custom-header {
    position: absolute;
    width: 100%;
    height: 100%;
}

.wp-custom-header img,
.wp-custom-header video {
    max-width: unset;
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.main-head .upper-head .wrapper {
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
}

.custom-logo {
    max-width: 60%;
    height: auto;
    margin: 0 var(--trim);
    padding: 2rem 0;
}

.upper-head {
    overflow: hidden;
    position: relative;
}

.upper-head a,
.upper-head a:hover,
.upper-head a:active,
.upper-head a:focus {
    border: none;
}

#menubutton {
    font-size: 2rem;

    float: right;

    width: 1em;
    height: 1em;
    border-radius: 1em;
    line-height: 1;
    padding: 0.5em;

    border: none;
    background-color: var(--accent-color);
    color: var(--accent-font-color);
    box-shadow: var(--shadow);

    position: absolute;
    top: 1rem;
    right: var(--trim);
    text-align: center;
    user-select: none;
}

#menu-toggle {
    display: none;
    visibility: hidden;
}

#menubutton:hover,
#menubutton:active {
    background-color: var(--accent-hover-color);
}

header .spanner {
    background-color: var(--accent-color);
    color: var(--accent-font-color);

    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

ul.menu,
header nav.menu > ul,
header .sub-menu,
header .children {
    padding: var(--trim);
    margin: 0;
    font-family: sans-serif;
    font-family: var(--font-family-text);
    line-height: 1;
}

header .sub-menu,
header .children {
    background-color: var(--accent-hover-color);
}

.menu li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.menu li:not(:last-child) {
    border-bottom: 1px solid var(--accent-font-color);
}

.menu li > a {
    display: block;
    padding: 1.3em;
    text-decoration: none;
    color: var(--accent-font-color);
    border-bottom: none;
}

.menu li > a:hover,
.menu li > a:active,
.menu li > a:focus {
    border-bottom: none;
}

.menu li:hover,
.menu li:active,
.menu li.current-menu-item,
.menu li.current-menu-ancestor {
    background-color: var(--accent-hover-color);
}

header .sub-menu li:hover,
header .sub-menu li:active,
header .sub-menu li.current-menu-item,
header .children li:hover,
header .children li:active,
header .children li.current_page_item {
    background-color: var(--accent-color);
}

#menu-toggle:checked + .spanner {
    max-height: 200%;
}

/* CONTENT */

main {
    flex-grow: 2;
    flex-shrink: 0;
    background-color: var(--background-color);
    padding-bottom: var(--trim);
}

main .wrapper {
    padding: 0 var(--trim);
}

main a {
    padding: 0.5em 0;
}

aside {
    background-color: var(--accent-alternate-color);
    color: var(--accent-alternate-font-color);

    padding: var(--trim);
    margin-top: var(--trim);
}

main ul {
    padding-left: var(--trim);
    margin-left: var(--trim);
}

main li {
    margin: 0.5rem 0;
}

.navigation {
    margin-top: var(--trim);
    font-size: 1.1em;
}

.nav-links {
    text-align: center;
}

.page-numbers {
    padding: 0 0.2em;
}

.prev.page-numbers {
    float: left;
}

.next.page-numbers {
    float: right;
}

main aside {
    align-self: start;
}

main .menu {
    padding: 0;
}

main .menu li:not(:last-child) {
    border-bottom: 1px solid var(--accent-alternate-font-color);
}

main .menu li:hover {
    background-color: var(--accent-alternate-hover-color);
}

main .menu li > a {
    color: var(--accent-alternate-font-color);
}

main aside h1 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a h1,
a h2,
a h3 {
    margin-bottom: 0.2rem;
}

main article {
    text-align: justify;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

/* Front page */

.bc_first .wp-post-image {
    margin-top: calc(var(--trim) / 2);
}

/* FOOTER */
footer {
    background-color: var(--footer-color);
    color: var(--footer-font-color);

    padding: var(--trim);
    flex-shrink: 0;

    --link-color: var(--footer-font-color);
    --accent-font-color: var(--footer-font-color);
}

footer .wrapper div,
footer section,
footer .mailpoet_paragraph {
    display: inline-block;
}

footer .footer-inner section {
    width: 100%;
}

footer .footer-inner section:not(:last-child) {
    margin-bottom: var(--trim);
}

footer .footer-inner section div {
    width: 100%;
}

footer .footer-inner .menu {
    padding: 0;
}

footer .menu li:hover,
footer .menu li:active,
footer .menu li:focus,
footer .menu li.current-menu-item {
    background: transparent;
}


footer a:hover,
footer a:active,
footer a:focus {
    --link-color: var(--footer-font-hover-color);
    color: var(--footer-font-hover-color);
}

footer button,
footer input {
    line-height: 1.5em;
    padding: var(--form-padding);
    border-radius: var(--form-radius);
    border: 1px solid var(--footer-font-color);
    font-size: 1em;
}

footer button,
footer input[type="submit"],
footer input[type="button"] {
    background-color: var(--footer-color);
    color: var(--footer-font-color);
}

footer button:hover,
footer button:active,
footer input[type="submit"]:hover,
footer input[type="submit"]:active,
footer input[type="button"]:hover,
footer input[type="button"]:active {
    background-color: var(--footer-font-hover-color);
    border-color: var(--footer-font-hover-color);
    color: var(--footer-color);
}

/* Contact form */
.wpcf7-form-control-wrap,
.wpcf7-form-control:not(.wpcf7-submit) {
    width: 100%;
    box-sizing: border-box;
}

.wpcf7-form-control:not(.wpcf7-mailpoetsignup) {
    border: 1px solid var(--accent-color);
    line-height: 1.5em;
    padding: var(--form-padding);
    font-size: 1em;
    border-radius: var(--form-radius);
}

.wpcf7 button,
.wpcf7 input[type="submit"],
.wpcf7 input[type="button"] {
    background-color: var(--background-color);
    color: var(--font-color);
}

.wpcf7 input[type="submit"]:hover,
.wpcf7 input[type="submit"]:active,
.wpcf7 input[type="button"]:hover,
.wpcf7 input[type="button"]:active,
.wpcf7 button:hover,
.wpcf7 button:active {
    background-color: var(--accent-color);
    color: var(--accent-font-color);
}

.wpcf7 input[type="checkbox"] {
    --checkbox-size: 2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid var(--accent-color);
    background-color: var(--background-color);
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    border-radius: var(--form-radius);
    margin: 0;
    padding: 0;
}

.wpcf7 input[type="checkbox"]:checked {
    background-color: var(--accent-color);
}

.wpcf7 input[type="checkbox"]:checked::after {
    content: '✓';
    color: var(--accent-font-color);
    position: absolute;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    font-size: calc(0.8 * var(--checkbox-size));
    line-height: var(--checkbox-size);
    display: block;
    text-align: center;
}

/*
 * SVG fontawesome icons
 */
svg.fa-font,
svg.fa-footer {
    display: inline-block;
    vertical-align: baseline;
}

svg.fa-font {
    margin-right: .2em;
    height: 1em;
    width: 1em;
    fill: var(--font-color);
}

svg.fa-footer {
    height: 2em;
    width: 2em;
    fill: var(--footer-font-color);
}

@media (-moz-touch-enabled: 0), (pointer: fine) {
    :root {
        --form-radius: 2px;
        --form-padding: 0.25em;
    }

    main a {
        padding: initial;
    }

    .wpcf7 input[type="checkbox"] {
        --checkbox-size: 1rem;
    }
}

/* TABLET+ */
@media screen AND (min-width: 1024px) {
    .big-only {
        display: block;
        visibility: visible;
    }

    .wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }

    .custom-logo {
        max-width: 40rem;
    }

    @media (-moz-touch-enabled: 0), (hover: hover) {
        #menubutton {
            display: none;
            visibility: hidden;
        }

        header .spanner {
            display: block;
            visibility: visible;
            position: relative;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            overflow: visible;
            max-height: none;
            box-shadow: var(--shadow);
        }

        header ul.menu,
        header nav.menu > ul {
            margin: 0 auto;
            padding: 0;
        }

        header ul.menu > li,
        header nav.menu > ul > li {
            display: inline-block;
        }

        header ul.menu > li:not(:last-child),
        header nav.menu > ul > li:not(:last-child) {
            border-bottom: none;
        }

        header .menu li > ul.sub-menu,
        header .menu li > ul.children {
            max-height: 0px;
            overflow: hidden;
            margin: 0;
            position: absolute;
            opacity: 0;
            transition: opacity 0.3s 0.04s,
                        max-height 2s 0.1s;

            box-shadow: var(--shadow);
            z-index: -1;
        }

        header .menu li:hover > ul.sub-menu,
        header .menu li:hover > ul.children {
            padding: var(--trim);
            opacity: 1;
            max-height: 1000vw;
        }
    }

    main .wrapper {
        display: flex;
        width: 100%;
    }

    main .main {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 632px;
        padding-right: var(--trim);
    }

    main aside {
        flex-basis: 20rem;
        width: 20rem;
        flex-shrink: 0;
    }

    main aside h1 {
        margin-bottom: 0.2rem;
    }

    main article.two-columns {
        display: flex;
        width: 100%;
    }

    article.two-columns aside {
        width: 20rem;
        flex-basis: 20rem;
        flex-shrink: 0;
        margin-right: var(--trim);
    }

    article.two-columns section {
        flex-grow: 1;
        margin-top: var(--trim);
    }

    article.two-columns section p:first-child {
        margin-top: 0;
    }

    .bc_extras {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .bc_extra {
        flex-basis: calc(50% - (var(--trim) / 2));
    }

    footer .footer-inner {
        display: flex;
        justify-content: space-between;
    }

    footer .footer-inner section {
        max-width: 33%;
        flex-basis: calc(33% - (2 * var(--trim)) / 3);
        flex-grow: 1;
    }

    footer .footer-inner section:not(:last-child) {
        margin-right: var(--trim);
        margin-bottom: 0;
    }

    .cf-two-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: var(--trim);
        -moz-column-gap: var(--trim);
        column-gap: var(--trim);
    }

    .cf-two-columns *:first-child {
        margin-top: 0;
    }
}

@media only print {
    .main-head nav,
    footer {
        display: none;
    }
}
