@import url("content.css");

html, body {
    margin: 0;
    padding: 0;

    --shadow: 0 0 1rem var(--font-color);
    --trim: 1rem;
    --font-family-title: 'Libre Baskerville', serif;
    --font-family-text: 'Raleway', sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.screen-reader-text {
    display: none;
}

/* HEADER */
header {
    flex-shrink: 0;
}

.wp-custom-header {
    position: absolute;
    width: 100%;
}

.wp-custom-header img,
.wp-custom-header video {
    width: 100%;
    height: auto;
}

.main-head .upper-head .wrapper {
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
}

.custom-logo {
    max-width: 60%;
    height: auto;
    margin: 0 var(--trim);
    padding: 2rem 0;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}

.upper-head {
    overflow: hidden;
    position: relative;
}

.upper-head a,
.upper-head a:hover,
.upper-head a:active,
.upper-head a:focus {
    border: none;
}

#menubutton {
    font-size: 2rem;

    float: right;

    width: 1em;
    height: 1em;
    border-radius: 1em;
    line-height: 1;
    padding: 0.5em;

    border: none;
    background: var(--accent-color);
    color: var(--accent-font-color);
    box-shadow: var(--shadow);

    position: absolute;
    top: 1rem;
    right: var(--trim);
    text-align: center;
}

#menu-toggle {
    display: none;
    visibility: hidden;
}

#menubutton:hover,
#menubutton:active {
    background: var(--accent-hover-color);
}

header .spanner {
    display: none;
    visibility: hidden;

    background: var(--accent-color);
    color: var(--accent-font-color);

    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.menu,
header .sub-menu {
    padding: var(--trim);
    margin: 0;
    font-family: serif;
    font-family: var(--font-family-title);
    line-height: 1;
}

header .sub-menu {
    background-color: var(--accent-hover-color);
}

.menu li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li:not(:last-child) {
    border-bottom: 1px solid var(--accent-font-color);
}

.menu li > a {
    display: block;
    padding: 1.3em;
    text-decoration: none;
    color: var(--accent-font-color);
    border-bottom: none;
}

.menu li > a:hover,
.menu li > a:active,
.menu li > a:focus {
    border-bottom: none;
}

.menu li:hover,
.menu li:active {
    background: var(--accent-hover-color);
}

header .sub-menu li:hover,
header .sub-menu li:active {
    background: var(--accent-color);
}

#menu-toggle:checked + .spanner {
    display: block;
    visibility: visible;
}

/* CONTENT */

main {
    padding: 0 var(--trim);
    flex-grow: 2;
    flex-shrink: 0;
}

aside {
    background-color: var(--accent-alternate-color);
    color: var(--accent-font-color);

    padding: var(--trim);
    margin-top: var(--trim);
}

main ul {
    padding-left: var(--trim);
    margin-left: var(--trim);
}

main li {
    margin: 0.5rem 0;
}

.navigation {
    margin-top: var(--trim);
}

.nav-links {
    text-align: center;
}

.prev.page-numbers {
    float: left;
}

.next.page-numbers {
    float: right;
}

main aside {
    align-self: start;
}

main .menu {
    padding: 0;
}

main aside h1 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a h1,
a h2,
a h3 {
    margin-bottom: 0.2rem;
}

main article {
    text-align: justify;
}

/* FOOTER */
footer {
    background-color: var(--accent-color);
    color: var(--accent-font-color);

    margin-top: var(--trim);
    padding: var(--trim);
    flex-shrink: 0;
}

footer a,
footer a:link,
footer a:visited,
footer a:hover,
footer a:active,
footer a:focus {
    color: var(--font-color);
}

footer .wrapper div,
footer section,
footer p {
    display: inline-block;
}

footer .wrapper div {
    margin-right: var(--trim);
}

footer .menu {
    display: inline-block;
}

footer .menu li {
    display: inline-block;
}

footer .menu li:not(:last-child) {
    border-bottom: none;
}

/* Contact form */
.wpcf7-form-control-wrap,
.wpcf7-form-control {
    width: 100%;
}

/* TABLET+ */

@media (min-width: 1024px) {
    .big-only {
        display: block;
        visibility: visible;
    }

    .wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }

    .custom-logo {
        max-width: 40rem;
    }

    #menubutton {
        display: none;
        visibility: hidden;
    }

    header .spanner {
        display: block;
        visibility: visible;
        position: relative;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    header .menu {
        margin: 0 auto;
        padding: 0;
    }

    header .menu > li {
        display: inline-block;
    }

    header .menu > li:not(:last-child) {
        border-bottom: none;
    }

    header .menu li > ul.sub-menu {
        display: none;
        visibility: hidden;
    }

    header .menu li:hover > ul.sub-menu {
        display: block;
        visibility: visible;
        position: absolute;
    }

    main {
        display: flex;
        width: 100%;
    }

    main .main {
        flex-grow: 1;
        flex-shrink: 0;
    }

    main aside {
        flex-basis: 20rem;
        width: 20rem;
        flex-shrink: 0;
    }

    main aside h1 {
        margin-bottom: 0.2rem;
    }

    main article.two-columns {
        display: flex;
        width: 100%;
    }

    article.two-columns aside {
        width: 20em;
        flex-basis: 20em;
        flex-shrink: 0;
        margin-right: var(--trim);
    }

    article.two-columns section {
        flex-grow: 1;
        margin-top: var(--trim);
    }

    article.two-columns section p:first-child {
        margin-top: 0;
    }
}
