@import url("content.css");

@viewport {
    min-width: device-width;
    zoom: 100%;
}

:root {
    --form-padding: 0.5em;
    --form-radius: 5px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.screen-reader-text {
    display: none;
}

/* HEADER */
.skip-link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link:focus {
    left: auto;
    width: auto;
    height: auto;
    z-index: 1000;
    background-color: var(--background-color);
    color: var(--font-color);
}

@media only speech {
    .skip-link {
        display: block;
        position: static;
        left: auto;
        width: auto;
        height: auto;
        overflow: auto;
    }

    .screen-reader-text {
        display: block;
    }
}

header {
    flex-shrink: 0;
}

.wp-custom-header {
    position: absolute;
    width: 100%;
    height: 100%;
}

.wp-custom-header img,
.wp-custom-header video {
    max-width: unset;
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.main-head .upper-head .wrapper {
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
}

.custom-logo-link {
    vertical-align: middle;
}

.custom-logo {
    max-width: 60%;
    height: auto;
    margin: 0 1rem;
    padding: 2rem 0;
}

.logotitle {
    color: var(--accent-color);
    font-size: 3em;
    display: none;
    visibility: hidden;
}

.upper-head {
    overflow: hidden;
    position: relative;
}

.upper-head a:not(.image),
.upper-head a:not(.image):hover,
.upper-head a:not(.image):active,
.upper-head a:not(.image):focus {
    border: none;
}

#menubutton {
    font-size: 2rem;

    float: right;

    width: 1em;
    height: 1em;
    border-radius: 1em;
    line-height: 1;
    padding: 0.5em;

    border: none;
    background-color: var(--accent-color);
    color: var(--accent-font-color);
    box-shadow: 0 0 .5rem var(--shadow-color);

    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: center;
    user-select: none;
}

#menu-toggle {
    display: none;
    visibility: hidden;
}

#menubutton:hover,
#menubutton:active {
    background-color: var(--accent-hover-color);
}

header .spanner {
    background-color: var(--accent-color);
    color: var(--accent-font-color);

    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

ul.menu,
header nav.menu > ul,
header .sub-menu,
header .children {
    padding: 1rem;
    margin: 0;
    font-family: sans-serif;
    font-family: 'Rubik', sans-serif;
    line-height: 1;
}

header .sub-menu,
header .children {
    background-color: var(--accent-hover-color);
}

.menu li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.menu li:not(:last-child) {
    border-bottom: 1px solid var(--accent-font-color);
}

.menu li > a,
.menu li > a:link,
.menu li > a:visited {
    display: block;
    padding: 1.3em;
    text-decoration: none;
    --link-color: var(--accent-font-color);
    border-bottom: none;
}

.menu li > a:hover,
.menu li > a:active,
.menu li > a:focus {
    border-bottom: none;
}

.menu li:hover,
.menu li:active,
.menu li.current-menu-item,
.menu li.current-menu-ancestor {
    background-color: var(--accent-hover-color);
}

header .sub-menu li:hover,
header .sub-menu li:active,
header .sub-menu li.current-menu-item,
header .children li:hover,
header .children li:active,
header .children li.current_page_item {
    background-color: var(--accent-color);
}

#menu-toggle:checked + .spanner {
    max-height: none;
}

/* CONTENT */

main {
    flex-grow: 2;
    flex-shrink: 0;
    background-color: var(--background-color);
    padding-bottom: 1rem;
}

main .wrapper {
    padding: 0 1rem;
}

main a:not(.image) {
    padding: 0.5em 0;
}

main aside {
    background-color: var(--accent-alternate-color);
    color: var(--accent-alternate-font-color);

    padding: 1rem;
    margin-top: 1rem;

    align-self: start;
    line-height: 1.6;
}

main aside h2 {
    margin-bottom: 0;
}

main ul {
    padding-left: 1rem;
    margin-left: 1rem;
}

main li {
    margin: 0.5rem 0;
}

.button,
.next.page-numbers,
.prev.page-numbers {
    display: inline-block;
    text-decoration: none;
}

.navigation {
    margin-top: 1rem;
    font-size: 1.1em;
}

.nav-links {
    text-align: center;
}

.page-numbers {
    padding: 0 0.2em;
}

.prev.page-numbers {
    float: left;
}

.next.page-numbers {
    float: right;
}

main .menu {
    padding: 0;
}

main .menu li:not(:last-child) {
    border-bottom: 1px solid var(--accent-alternate-font-color);
}

main .menu li:hover {
    background-color: var(--accent-alternate-hover-color);
}

main .menu li > a,
main .menu li > a:link,
main .menu li > a:visited {
    /* Need the important for a broken cascade on Firefox :( */
    --link-color: var(--accent-alternate-font-color) !important;
}

main aside h1 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a h1,
a h2,
a h3 {
    margin-bottom: 0.2rem;
}

main article {
    text-align: justify;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

/* Front page */

.bc_first .wp-post-image {
    margin-top: 0.5rem;
}

/* FOOTER */
footer {
    background-color: var(--footer-color);
    color: var(--footer-font-color);

    padding: 1rem;
    flex-shrink: 0;

    --link-color: var(--footer-font-color);
    --accent-font-color: var(--footer-font-color);
}

footer .wrapper div,
footer section,
footer .mailpoet_paragraph {
    display: inline-block;
}

footer .footer-inner section {
    width: 100%;
}

footer .footer-inner section:not(:last-child) {
    margin-bottom: 1rem;
}

footer .footer-inner section div {
    width: 100%;
}

footer .footer-inner .menu {
    padding: 0;
}

footer .menu li:hover,
footer .menu li:active,
footer .menu li:focus,
footer .menu li.current-menu-item {
    background: transparent;
}


footer a:hover,
footer a:active,
footer a:focus {
    /* Yeah, still that broken cascade */
    --link-color: var(--footer-font-hover-color) !important;
    color: var(--footer-font-hover-color);
}

footer button,
footer input {
    line-height: 1.5em;
    padding: 0.5em;
    padding: var(--form-padding);
    border-radius: 5px;
    border-radius: var(--form-radius);
    border: 1px solid var(--footer-font-color);
    font-size: 1em;
}

footer button,
footer input[type="submit"],
footer input[type="button"] {
    background-color: var(--footer-color);
    color: var(--footer-font-color);
}

footer button:hover,
footer button:active,
footer input[type="submit"]:hover,
footer input[type="submit"]:active,
footer input[type="button"]:hover,
footer input[type="button"]:active {
    background-color: var(--footer-font-hover-color);
    border-color: var(--footer-font-hover-color);
    color: var(--footer-color);
}

/* Contact form */
.wpcf7-form-control-wrap:not(.wpcf7-radio),
.wpcf7-form-control:not(.wpcf7-submit):not(.wpcf7-radio) {
    width: 100%;
    box-sizing: border-box;
}

.wpcf7-form-control:not(.wpcf7-mailpoetsignup):not(.wpcf7-radio),
a.button,
a.button:link,
a.next.page-numbers,
a.prev.page-numbers {
    border: 1px solid var(--accent-color);
    line-height: 1.5em;
    padding: var(--form-padding);
    font-size: 1em;
    border-radius: 5px;
    border-radius: var(--form-radius);
}

.wpcf7 button,
.wpcf7 input[type="submit"],
.wpcf7 input[type="button"],
a.button,
a.button:link,
a.next.page-numbers,
a.prev.page-numbers {
    background-color: var(--background-color);
    --link-color: var(--font-color);
}

.wpcf7 input[type="submit"]:hover,
.wpcf7 input[type="submit"]:active,
.wpcf7 input[type="button"]:hover,
.wpcf7 input[type="button"]:active,
.wpcf7 button:hover,
.wpcf7 button:active,
a.button:hover,
a.button:active,
a.next.page-numbers:hover,
a.next.page-numbers:active,
a.prev.page-numbers:hover,
a.prev.page-numbers:active {
    background-color: var(--accent-color);
    --link-color: var(--accent-font-color);
}

.wpcf7 input[type="checkbox"],
.wpcf7 input[type="radio"] {
    --checkbox-size: 2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid var(--accent-color);
    background-color: var(--background-color);
    height: 2rem;
    height: var(--checkbox-size);
    width: 2rem;
    width: var(--checkbox-size);
    border-radius: 5px;
    border-radius: var(--form-radius);
    margin: 0;
    padding: 0;
}

.wpcf7 input[type="checkbox"]:checked,
.wpcf7 input[type="radio"] {
    background-color: var(--accent-color);
}

.wpcf7 input[type="checkbox"]:checked::after,
.wpcf7 input[type="radio"]:checked::after {
    content: '✓';
    color: var(--accent-font-color);
    position: absolute;
    height: 2rem;
    height: var(--checkbox-size);
    height: 2rem;
    width: var(--checkbox-size);
    font-size: 1.6rem;
    font-size: calc(0.8 * var(--checkbox-size));
    line-height: 2rem;
    line-height: var(--checkbox-size);
    display: block;
    text-align: center;
}

.wpcf7 input[type="radio"] {
    border-radius: 1rem;
    border-radius: calc(0.5 * var(--checkbox-size));
}

span.wpcf7-list-item {
    display: block;
}

/*
 * SVG fontawesome icons
 */
svg.fa-font,
svg.fa-footer {
    display: inline-block;
    vertical-align: baseline;
}

svg.fa-font {
    margin-right: .2em;
    height: 1em;
    width: 1em;
    fill: var(--font-color);
}

svg.fa-footer {
    height: 2em;
    width: 2em;
    fill: var(--link-color);
}

.detail {
    position: relative;
}

.detail > .fa-font {
    position: absolute;
    top: 0.1em;
}

.detail span {
    display: block;
    margin-left: 1.2em;
}

@media (-moz-touch-enabled: 0), (pointer: fine), (-ms-high-contrast: none), (-ms-high-contrast: active) {
    :root {
        --form-radius: 2px;
        --form-padding: 0.25em;
    }

    main a:not(.image) {
        padding: initial;
    }

    .wpcf7 input[type="checkbox"],
    .wpcf7 input[type="radio"] {
        --checkbox-size: 1rem;
    }
}

@media screen AND (min-width: 1024px) AND (-moz-touch-enabled: 0), (hover: hover), (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #menubutton {
        display: none;
        visibility: hidden;
    }

    header .spanner {
        display: block;
        visibility: visible;
        position: relative;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        overflow: visible;
        max-height: none;
        box-shadow: 0 0 .5rem var(--shadow-color);
    }

    header ul.menu,
    header nav.menu > ul {
        margin: 0 auto;
        padding: 0;
    }

    header ul.menu > li,
    header nav.menu > ul > li {
        display: inline-block;
    }

    header ul.menu > li:not(:last-child),
    header nav.menu > ul > li:not(:last-child) {
        border-bottom: none;
    }

    header .menu li > ul.sub-menu,
    header .menu li > ul.children {
        pointer-events: none;
        max-height: 0px;
        overflow: hidden;
        margin: 0;
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s 0.04s,
                    max-height 2s 0.1s;

        box-shadow: 0 0 .5rem var(--shadow-color);
        z-index: -1;
    }

    header .menu li:hover > ul.sub-menu,
    header .menu li:hover > ul.children {
        pointer-events: auto;
        padding: 1rem;
        opacity: 1;
        max-height: 1000vw;
    }
}

/* TABLET+ */
@media screen AND (min-width: 1024px) {
    .big-only {
        display: block;
        visibility: visible;
    }

    .logotitle {
        display: inline-block;
        visibility: visible;
    }

    .wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }

    .custom-logo {
        max-width: 40rem;
    }

    main .wrapper {
        display: -ms-flexbox;
        display: flex;
        width: 100%;
    }

    main .main {
        -ms-flex: 1 0 632px;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 632px;
        padding-right: 1rem;
    }

    main .wrapper div {
        width: 100%;
    }

    main aside {
        -ms-flex: 1 0 calc(33% - (8/3) * 1rem);
        flex-basis: calc(33% - (8/3) * 1rem);
        width: calc(33% - (8/3) * 1rem);
        flex-shrink: 0;
    }

    main aside h1 {
        margin-bottom: 0.2rem;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        overflow-wrap: break-word;
    }

    main article.two-columns {
        width: 100%;
        display: -ms-flexbox;
        display: flex;
    }


    article.two-columns > section {
        -ms-flex: 0 1 66%;
        flex-grow: 1;
        margin-top: 1rem;
    }


    article.two-columns > aside {
        -ms-flex: 0 1 calc(33% - (8/3) * 1rem);
        flex-shrink: 0;
        flex-basis: calc(33% - (8/3) * 1rem);
        width: calc(33% - (8/3) * 1rem);
        margin-right: 1rem;
    }

    article.two-columns > section p:first-child {
        margin-top: 0;
    }

    footer .footer-inner {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    footer .footer-inner > aside {
        -ms-flex: 1 0 calc(33% - 2rem / 3);
        flex-basis: calc(33% - 2rem / 3);
        flex-grow: 1;
        max-width: 33%;
    }

    footer .footer-inner > aside:not(:last-child) {
        margin-right: 1rem;
        margin-bottom: 0;
    }

    .bc_extras {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .bc_extra {
        -ms-flex: 1 0 calc(50% - .5rem);
        flex-basis: calc(50% - .5rem);
    }

    .cf-two-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1rem;
        -moz-column-gap: 1rem;
        column-gap: 1rem;
    }

    .cf-two-columns *:first-child {
        margin-top: 0;
    }

    .bc_first .cf-two-columns ul {
        margin-left: 0;
    }

    .btt {
        display: none;
        visibility: hidden;
    }
}

@media only print {
    .main-head nav,
    footer {
        display: none;
    }
}
